
<div *ngIf="showFloatingIcon" (click)="navigateToFormSection()" [routerLink]="['./']" fragment="contact-us" class="floating-button" style="cursor: pointer;">
  <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.5 17L13.5 19C13.697 19.197 13.9308 19.3532 14.1882 19.4598C14.4456 19.5665 14.7214 19.6213 15 19.6213C15.2786 19.6213 15.5544 19.5665 15.8118 19.4598C16.0692 19.3532 16.303 19.197 16.5 19C16.697 18.803 16.8532 18.5692 16.9598 18.3118C17.0665 18.0544 17.1213 17.7786 17.1213 17.5C17.1213 17.2214 17.0665 16.9456 16.9598 16.6882C16.8532 16.4308 16.697 16.197 16.5 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M14.5002 14L17.0002 16.5C17.3981 16.8978 17.9376 17.1213 18.5002 17.1213C19.0628 17.1213 19.6024 16.8978 20.0002 16.5C20.3981 16.1022 20.6215 15.5626 20.6215 15C20.6215 14.4374 20.3981 13.8978 20.0002 13.5L16.1202 9.62002C15.5577 9.05821 14.7952 8.74265 14.0002 8.74265C13.2052 8.74265 12.4427 9.05821 11.8802 9.62002L11.0002 10.5C10.6024 10.8978 10.0628 11.1213 9.50023 11.1213C8.93762 11.1213 8.39805 10.8978 8.00023 10.5C7.6024 10.1022 7.37891 9.56262 7.37891 9.00002C7.37891 8.43741 7.6024 7.89784 8.00023 7.50002L10.8102 4.69002C11.7225 3.78016 12.9121 3.20057 14.1909 3.04299C15.4696 2.88541 16.7644 3.15885 17.8702 3.82002L18.3402 4.10002C18.766 4.357 19.2723 4.44613 19.7602 4.35002L21.5002 4.00002" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M21.5 3L22.5 14H20.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3.5 3L2.5 14L9 20.5C9.39782 20.8978 9.93739 21.1213 10.5 21.1213C11.0626 21.1213 11.6022 20.8978 12 20.5C12.3978 20.1022 12.6213 19.5626 12.6213 19C12.6213 18.4374 12.3978 17.8978 12 17.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3.5 4H11.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
    <span>Partner with us</span>
</div>
<section #header class="header">
  <!-- <img [src]="getImageSrc('assets/images/partners-bg.jpg')"> -->
  <img [src]="getImageSrc('assets/images/clock.png')">

  <div class="floating-images">
    <p fadeIn>To lead sustainable tourism, STGC is collaborating with top researchers and leading universities and organizations to deliver actionable insights, tools, and solutions that benefit climate, nature, and communities.</p>
    <h1><span fadeIn>Collaborative Initiatives</span></h1>
  </div>
</section>

<section class="desc-section">
  <div class="desc">
    <p fadeIn customClass="slide-up-animation" [customOnly]="true">
        The strategy for the Center has been developed
        through a collaborative approach and a robust
        validation process, with over 300 leaders with
        expertise in sustainability and/or Travel & Tourism
        from across the world, including governments and
        leadings international organizations.
    </p>
  </div>
  <div class="desc">
    <p fadeIn customClass="slide-up-animation" [customOnly]="true">
        The Center aims to partner with 100 universities
        from diverse regions around the world by 2030 -
        North America, Europe, Asia-Pacific, Latin America,
        Africa and MENA - and to engage with international
        organizations and industry associations.
    </p>
  </div>
</section>

<section class="sponsors-container">
  <h2 fadeIn>We collaborate with</h2>
  <div #sponsorsContainer class="sponsors">
    <div class="logos-container">
      <img *ngFor="let logo of logosNumbers;" [style]="logo === 15 ? 'max-width:295px;width:295px' : ''" [src]=" 'assets/images/logos/logo_'+logo +'.png' ">
    </div>
    <div [ngClass]="{'open': viewLogos}" class="logos-container-mobile">
      <img *ngFor="let logo of logosNumbersMobile;" [src]=" 'assets/images/logos/logo_'+logo +'.png' ">
    </div>
  </div>
  <div (click)="displayLogos()" *ngIf="!viewLogos" class="view-more">View more</div>

  <div class="indicators sponsors-indicators">
    <svg [style.opacity]="isScrolledToLeftEnd ? 0.4 : 1" [ngClass]="{'disabled': isScrolledToLeftEnd}" (click)="scrollLeft(sponsorsContainer, 0)"   width="72" height="40" viewBox="0 0 72 40" xmlns="http://www.w3.org/2000/svg">
      <mask id="path-1-inside-1_3368_320" fill="currentFill">
      <path d="M0 20C0 8.95431 8.95431 0 20 0H52C63.0457 0 72 8.95431 72 20C72 31.0457 63.0457 40 52 40H20C8.95431 40 0 31.0457 0 20Z"/>
      </mask>
      <path d="M0 0H72H0ZM72 40H0H72ZM19 40C7.95431 40 -1 31.0457 -1 20C-1 8.9543 7.95431 0 19 0H20C9.50659 0 1 8.9543 1 20C1 31.0457 9.50659 40 20 40H19ZM53 0C64.0457 0 73 8.9543 73 20C73 31.0457 64.0457 40 53 40H52C62.4934 40 71 31.0457 71 20C71 8.9543 62.4934 0 52 0H53Z" fill="currentColor"  mask="url(#path-1-inside-1_3368_320)"/>
      <g >
      <path d="M41.8926 20.1426H30.1074" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M36 14.25L30.1074 20.1426L36 26.0351" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      </svg>
      <svg [style.opacity]="isScrolledToRightEnd ? 0.4 : 1" [ngClass]="{'disabled': isScrolledToRightEnd}" (click)="scrollRight(sponsorsContainer, 0)" width="72" height="40" viewBox="0 0 72 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1_3368_325" fill="currentFill">
        <path d="M0 20C0 8.95431 8.95431 0 20 0H52C63.0457 0 72 8.95431 72 20C72 31.0457 63.0457 40 52 40H20C8.95431 40 0 31.0457 0 20Z"/>
        </mask>
        <path d="M0 0H72H0ZM72 40H0H72ZM19 40C7.95431 40 -1 31.0457 -1 20C-1 8.9543 7.95431 0 19 0H20C9.50659 0 1 8.9543 1 20C1 31.0457 9.50659 40 20 40H19ZM53 0C64.0457 0 73 8.9543 73 20C73 31.0457 64.0457 40 53 40H52C62.4934 40 71 31.0457 71 20C71 8.9543 62.4934 0 52 0H53Z" fill="currentColor" mask="url(#path-1-inside-1_3368_325)"/>
        <g clip-path="url(#clip0_3368_325)">
        <path d="M30.1074 20.1426H41.8926" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36 14.25L41.8926 20.1426L36 26.0351" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_3368_325">
        <rect width="20" height="20" fill="currentFill" transform="translate(36 6) rotate(45)"/>
        </clipPath>
        </defs>
      </svg>

  </div>
</section>

<section #publications class="publications">
  <div #publicationsContainer class="publications-container">
    <h2 fadeIn customClass="underline" >Our Publications</h2>
    <div class="scroll-wrapper">
      <div class="cards">
        <div
        *ngFor="let card of cards;let index = index;let odd = odd"
        class="card-container"
        [style]="odd ? 'align-items: start;' : 'align-items: end;'"
        fadeIn customClass="slide-up" [customOnly]="true"
        >
        <div class="wrapper"
        (mouseenter)="onMouseEnterCard(frontCard1)"
        (transitionend)="onCardTransitioned(frontCard1)"
        (mouseleave)="onMouseLeaveCard(frontCard1)">
          <div class="card">
            <div class="card-front" #frontCard1>
              <img fadeIn customClass="zoom-in" [customOnly]="true" [src]="card.image"/>
              <div class="view-more-card">
                View more
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18 8L22 12L18 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M2 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            <div class="card-back">
              <div class="titles">
                <p class="card-name">{{card.name}}</p>
                <p class="card-desc">{{card.desc}}</p>
              </div>
              <button (click)="toggleDownloadModal(card)">
                Download
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <g id="Interface / Download">
                  <path id="Vector" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="publications-container-mobile">
    <h2 fadeIn customClass="underline" >Our<br>Publications</h2>
    <div class="cards">
      <div
      *ngFor="let card of cards;let index = index;let odd = odd"
      class="card-container"
      fadeIn customClass="slide-up" [customOnly]="true"
      [style]="!odd ? 'justify-content: start;' : 'justify-content: end;'"
      >
      <div class="wrapper"
      (mouseenter)="onMouseEnterCard(frontCard2)"
      (transitionend)="onCardTransitioned(frontCard2)"
      (mouseleave)="onMouseLeaveCard(frontCard2)">
        <div class="card">
          <div class="card-front" #frontCard2>
            <img fadeIn customClass="zoom-in" [customOnly]="true" [src]="card.image"/>
            <div class="view-more-card">
              View more
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 8L22 12L18 16" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 12H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
          <div class="card-back">
            <div class="titles">
              <p class="card-name">{{card.name}}</p>
              <p class="card-desc">{{card.desc}}</p>
            </div>
            <button (click)="toggleDownloadModal(card)">
              Download
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g id="Interface / Download">
                <path id="Vector" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="indicators sponsors-indicators">
    <svg [style.opacity]="isScrolledToLeftEnd2 ? 0.4 : 1" [ngClass]="{'disabled': isScrolledToLeftEnd2}" (click)="scrollLeft(publicationsContainer, 1)" width="72" height="40" viewBox="0 0 72 40" xmlns="http://www.w3.org/2000/svg">
      <mask id="path-1-inside-1_3368_320" fill="currentFill">
      <path d="M0 20C0 8.95431 8.95431 0 20 0H52C63.0457 0 72 8.95431 72 20C72 31.0457 63.0457 40 52 40H20C8.95431 40 0 31.0457 0 20Z"/>
      </mask>
      <path d="M0 0H72H0ZM72 40H0H72ZM19 40C7.95431 40 -1 31.0457 -1 20C-1 8.9543 7.95431 0 19 0H20C9.50659 0 1 8.9543 1 20C1 31.0457 9.50659 40 20 40H19ZM53 0C64.0457 0 73 8.9543 73 20C73 31.0457 64.0457 40 53 40H52C62.4934 40 71 31.0457 71 20C71 8.9543 62.4934 0 52 0H53Z" fill="currentColor"  mask="url(#path-1-inside-1_3368_320)"/>
      <g>
      <path d="M41.8926 20.1426H30.1074" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M36 14.25L30.1074 20.1426L36 26.0351" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      </svg>
      <svg [style.opacity]="isScrolledToRightEnd2 ? 0.4 : 1" [ngClass]="{'disabled': isScrolledToRightEnd2}" (click)="scrollRight(publicationsContainer, 1)" width="72" height="40" viewBox="0 0 72 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1_3368_325" fill="currentFill">
        <path d="M0 20C0 8.95431 8.95431 0 20 0H52C63.0457 0 72 8.95431 72 20C72 31.0457 63.0457 40 52 40H20C8.95431 40 0 31.0457 0 20Z"/>
        </mask>
        <path d="M0 0H72H0ZM72 40H0H72ZM19 40C7.95431 40 -1 31.0457 -1 20C-1 8.9543 7.95431 0 19 0H20C9.50659 0 1 8.9543 1 20C1 31.0457 9.50659 40 20 40H19ZM53 0C64.0457 0 73 8.9543 73 20C73 31.0457 64.0457 40 53 40H52C62.4934 40 71 31.0457 71 20C71 8.9543 62.4934 0 52 0H53Z" fill="currentColor" mask="url(#path-1-inside-1_3368_325)"/>
        <g clip-path="url(#clip0_3368_325)">
        <path d="M30.1074 20.1426H41.8926" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M36 14.25L41.8926 20.1426L36 26.0351" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_3368_325">
        <rect width="20" height="20" fill="currentFill" transform="translate(36 6) rotate(45)"/>
        </clipPath>
        </defs>
      </svg>
  </div>
</section>

<app-modal *ngIf="isDownloadModalOpened" (closeModal)="toggleDownloadModal()">
  <div class="download-form">
    <h2 fadeIn>Fill in this form to download the publication</h2>
    <form class="publication-form" [formGroup]="downloadFormGroup" #downloadFormGroupRef>
      <div class="input-container">
        <div class="underline-input">
          <input required [formControl]="getFromControl('name')" type="text" placeholder="Name">
          <div class="line-progress"></div>
        </div>
        <div class="underline-input">
          <input required email [formControl]="getFromControl('email')" type="email" placeholder="Email">
          <div class="line-progress"></div>
        </div>
        <div class="underline-input">
          <input required [formControl]="getFromControl('organization')" type="text" placeholder="Organization">
          <div class="line-progress"></div>
        </div>
        <div class="underline-input">
          <input required [formControl]="getFromControl('position')" type="text" placeholder="Position">
          <div class="line-progress"></div>
        </div>
      </div>
      <button class="confirm-button full-width-animation" type="button" (click)="submit()">
        <span class="top-border"></span>
        <span class="bottom-border"></span>
        <span class="line-top-1 line-top"></span>
        <span class="line-top-2 line-top"></span>
        <span class="line-top-3 line-top"></span>
        <span class="line-bottom-1 line-bottom"></span>
        <span class="line-bottom-2 line-bottom"></span>
        <span class="line-bottom-3 line-bottom"></span>
        <div class="borders title">
          <div class="animate">
            <span class="animate-slide">Download</span>
          </div>
        </div>
        <div class="borders icon">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="white"/>
          </svg>
        </div>
      </button>
    </form>
  </div>
</app-modal>

<section #contactUsForm style="position: static;">
  <div class="container">
    <div class="contact-us">
      <div class="line-1"></div>
      <div class="line-2"></div>
      <div class="social">
        <h3 fadeIn [noScroll]="true">or contact us through</h3>
        <p>
          <span fadeIn [noScroll]="true" class="delay-700">partnerships@stgc.global</span>
        </p>
      </div>
      <div class="contact-form">
        <h2 class="main-title"><span fadeIn>Interested</span><br><span fadeIn customClass="underline" class="underline-white">in partnering?</span></h2>
        <form [formGroup]="contactForm" #contactFormRef>
          <div class="input-container">
            <div class="underline-input">
              <input required [formControl]="getFromControlContactForm('name')" type="text" placeholder="Your Name">
              <div class="line-progress"></div>
            </div>
            <div class="underline-input">
              <input required email [formControl]="getFromControlContactForm('email')" type="email" placeholder="Your Email Address">
              <div class="line-progress"></div>
            </div>
            <div class="underline-input">
              <textarea required rows="6" [formControl]="getFromControlContactForm('message')" name="message" placeholder="Message"></textarea>
              <div class="line-progress"></div>
            </div>
          </div>
          <button #confirmationButtonRef [ngClass]="{'full-width-animation': isScrolledToConfirmationButton}" class="confirm-button" type="button" (click)="submitContactForm()">
            <span class="top-border"></span>
            <span class="bottom-border"></span>
            <span class="line-top-1 line-top"></span>
            <span class="line-top-2 line-top"></span>
            <span class="line-top-3 line-top"></span>
            <span class="line-bottom-1 line-bottom"></span>
            <span class="line-bottom-2 line-bottom"></span>
            <span class="line-bottom-3 line-bottom"></span>
            <div class="borders title">
              <div class="animate">
                <span class="animate-slide">Contact us</span>
              </div>
            </div>
            <div class="borders icon">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13L13 1M13 1V9.66667M13 1H3.66667" stroke="white"/>
              </svg>
            </div>
          </button>
        </form>
      </div>
    </div>

    <div class="footer-content">
      <div class="nav">
        <img [routerLink]="['/home']" (click)="navigateToTop()" src="assets/images/STGC-black.svg" style="cursor: pointer;">
        <div class="links">
          <a [routerLink]="['/home']" (click)="navigateToTop()">Home</a>
          <a [routerLink]="['/about']" (click)="navigateToTop()" style="white-space: nowrap;">About us</a>
          <a [routerLink]="['/partnerships']" (click)="navigateToTop()">Partnerships</a>
          <a [routerLink]="['/contact-us']" (click)="navigateToTop()" style="white-space: nowrap;">Contact us</a>
        </div>
      </div>
      <div class="copy-write">
        <p>© All rights reserved.Sustainable Tourism Global Center</p>
        <a href="assets/reports/Privacy_Policy.pdf" target="_blank">Privacy Policy</a>
      </div>
    </div>
  </div>

</section>
